element.style {
}
.markdown-body a {
    background-color: transparent;
    color: #0969da;
    text-decoration: none;
}
<style>
.ggHpfV * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}